<form class="col-4" action="/upload_image" enctype="multipart/form-data" method="POST" >
  <h4>Convert an Image!</h4>

  <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="notes_image" name="notes_image">
    <label class="custom-file-label" for="notes_image">Choose file</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
